html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.loginn {
  background-color: purple;
  color: white;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.loginn:hover {
  background-color: #a020f0; /* Un morado más claro */
  transform: scale(1.03); /* Efecto leve de agrandamiento */
}

.loginn:active {
  background-color: #6a0dad; /* Un morado más oscuro al hacer clic */
  transform: scale(0.98); /* Efecto leve de presión */
}

.titlelogin{
  background-color: purple;
}